<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PDF Content</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      p {
        margin-bottom: 10px;
      }
      img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 0.05em 0 0.1em;
        vertical-align: -0.1em;
      }
    </style>
  </head>
  <body>
    {{ content|safe }}
  </body>
</html>
